<!--The content below is only a placeholder and can be replaced.-->
<div class="container mt-10">
  <div class="row">
    <div class="col-md-4 col-xs-12">
      <h3>{{ title }}!</h3>
      <hr />
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div ngModelGroup="nameandemail" #nameAndEmail="ngModelGroup">
          <div class="form-group">
            <label for="firstname">Name</label>
            <input type="text" class="form-control" id="firstname" ngModel name="name" required />
            <button type="button" (click)="suggestName()" class="btn btn-outline-primary mt-2">
              Suggest me a name
            </button>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input required type="email" class="form-control" id="email" ngModel name="emailadress" email
              #email="ngModel" />
            <span *ngIf="!email.valid && email.touched" class="help-block">Enter a valid Email</span>
          </div>
          <span *ngIf="nameAndEmail.invalid && nameAndEmail.touched" class="help-block">Name or Email are not
            Correct!</span>
        </div>

        <label>Gender</label>
        <div class="form-group">
          <div class="form-check" *ngFor="let g of genders">
            <input id="{{ g }}" class="form-check-input" type="radio" [ngModel]="genders[1]" name="gender"
              value="{{ g }}" />
            <label for="{{ g }}" class="form-check-label">
              {{ g }}
            </label>
          </div>

          <div class="form-group mt-3">
            <label>Status</label>
            <select required class="form-control" [ngModel]="statuses[1]" name="status">
              <option *ngFor="let stat of statuses" value="{{ stat }}">{{
                stat
              }}</option>
            </select>
          </div>
        </div>
        <button [disabled]="!f.valid" class="btn btn-outline-dark btn-lg" type="submit">
          Send Data
        </button>
        <p *ngIf="submitted" class="helper-block good mt-2">
          Successfully Registered!
        </p>
      </form>
    </div>
    <div class="col-md-8 col-xs-12">
      <div class="row ">
        <div *ngFor="let citizen of citizens" class="col-md-12 col-xs-12 list-group-item m-2">
          <div class="row">
            <div class="col-md-5 bg-light">
              <img [src]="this.picture" height="100%" width="100%" />
            </div>
            <div class="col-md-7 bg-light">
              <h5>Name:</h5>
              <p>{{ citizen.nom }}</p>
              <h5>Email:</h5>
              <p>{{ citizen.email }}</p>
              <h5>Gender:</h5>
              <p>{{ citizen.gender }}</p>
              <h5>Status:</h5>
              <p>{{ citizen.statut }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
